@{
    ViewData["Title"] = "忘記密碼";
    Layout = "_LayoutLogin";
}

@section PageCss {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="wrap">
    <div class="main">
        <div class="wrap_left">
            <div class="login_image"><img src="~/images/login_image.jpg" alt="" /></div>
        </div>
        <div class="wrap_right">
            <div class="login_wrap">
                <div class="page_title">忘記密碼</div>
                <div class="page_desc">請輸入您的管理者帳號郵件，我們將寄送密碼重設連結給您。</div>
                <div class="input_box">
                    <ul>
                        <li>
                            <label class="field_label">電子郵件</label>
                            <input type="email" placeholder="admin@example.com">
                        </li>
                        <li>
                            <div class="btn login_btn">
                                <a href="javascript:;">寄送重設連結</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="register_link">
                    <a asp-action="Login" asp-controller="Account">
                        <i class="fa-solid fa-arrow-left"></i> 返回登入頁面
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
