<nav class="sidebar-nav">
    <a href="index.html" class="sidebar-item active">
        <img src="images/icon-home.svg" alt="">
        <span>首頁</span>
    </a>
    <a href="cases.html" class="sidebar-item">
        <img src="images/icon-cases.svg" alt="">
        <span>案件管理</span>
    </a>
    <a href="wallet.html" class="sidebar-item">
        <img src="images/icon-wallet.svg" alt="">
        <span>錢包與儲值</span>
    </a>
    <a href="performance.html" class="sidebar-item">
        <img src="images/icon-chart.svg" alt="">
        <span>導購成效</span>
    </a>
    <a href="details.html" class="sidebar-item">
        <img src="images/icon-detail.svg" alt="">
        <span>導購明細</span>
    </a>
    <a href="settings.html" class="sidebar-item">
        <img src="images/icon-gear.svg" alt="">
        <span>設定</span>
    </a>
</nav>
